@model IEnumerable<Finah_Web.Models.VragenLijst>

@{
    ViewBag.Title = "Vragenlijst - Overzicht";
}
@{
    Layout = "~/Views/Shared/_LayoutBeheren.cshtml";
}
<h3 id="Breadcrumb">Menu > Vragenlijsten</h3>
<h2 id="Content-Title">Overzicht</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<table class="overzicht-table" border="1"   >
    <tr>
        @*<th>@Html.DisplayNameFor(model => model.Omschrijving)</th>*@
        <th >Aandoening</th>
        <th >Pathologie</th>
        <th>Actie</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="large-column">Dit is een voorbeeld omschrijving van de aandoening</td>
            <td class="medium-column">Pathologie 1</td>
            <td class="action-column">
                 @Html.ActionLink("Edit", "Edit", new { id = item.Id })  |
                 @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                 @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
