@model Finah_Web.Models.Postcode

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBeheerder.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Postcode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Postnr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postnr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gemeente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gemeente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
