@model Finah_Web.Models.Aanvraag

@{
    ViewBag.Title = "Aanvraag";
    Layout = "~/Views/Shared/_LayoutBeheren.cshtml";
}

<h3 id="Breadcrumb">Menu > Aandoening > Details</h3>
<h2 id="Content-Title">Details</h2>

<div class="detailsDiv">
    <dl class="dl-horizontal">
        <dt class="detail-label">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt class="detail-label">
            @Html.DisplayNameFor(model => model.VoorNaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoorNaam)
        </dd>

        <dt class="detail-label">
            @Html.DisplayNameFor(model => model.RijksRegisterNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RijksRegisterNr)
        </dd>

        <dt class="detail-label">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt class="detail-label">
            @Html.DisplayNameFor(model => model.Telnr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telnr)
        </dd>

        <dt class="detail-label">
            @Html.DisplayNameFor(model => model.Gsm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gsm)
        </dd>

        <dt class="detail-label">
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt class="detail-label">
            @Html.DisplayNameFor(model => model.Passwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passwd)
        </dd>

        <dt class="detail-label">
            @Html.DisplayNameFor(model => model.GeheimeVraag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeheimeVraag)
        </dd>

        <dt class="detail-label">
            @Html.DisplayNameFor(model => model.GeheimAntwoord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeheimAntwoord)
        </dd>

        <dt class="detail-label">
            @Html.DisplayNameFor(model => model.TypeAcc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeAcc)
        </dd>

    </dl>
</div>
<div class="Back">
    @Html.ActionLink("Terug naar overzicht", "Overzicht")
</div>
