@model IEnumerable<Finah_Web.Models.Aanvraag>

@{
    ViewBag.Title = "Aanvraag - Overzicht";
}

<h3 id="Breadcrumb">Menu > Aanvraag</h3>
<h2 id="Content-Title">Overzicht</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<table class="overzicht-table" border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoorNaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RijksRegisterNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telnr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gsm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeAcc)
        </th>
        <th>Actie</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoorNaam)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RijksRegisterNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telnr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gsm)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TypeAcc)

            </td>
            <td class="action-column">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })  |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
