@model Finah_Web.Models.LeeftijdsCategorie

@{
    ViewBag.Title = "LeeftijdsCategorie";
    Layout = "~/Views/Shared/_LayoutBeheren.cshtml";
}

<h3 id="Breadcrumb">Menu > LeeftijdsCategorie > Details</h3>
<h2 id="Content-Title">Details</h2>

<div class="detailsDiv">
    <dl class="dl-horizontal">
        <dt class="detail-label">
            @Html.DisplayNameFor(model => model.Van)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Van)
        </dd>

        <dt class="detail-label>
            @Html.DisplayNameFor(model => model.Tot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tot)
        </dd>

    </dl>
</div>
<div class="Back">
    @Html.ActionLink("Terug naar overzicht", "Overzicht")
</div>
