@model IEnumerable<Finah_Web.Models.LeeftijdsCategorie>

@{
    ViewBag.Title = "Leeftijdcategorie - Overzicht";
}
@{
    Layout = "~/Views/Shared/_LayoutBeheren.cshtml";
}
<h3 id="Breadcrumb">Menu > Leeftijdscategorie</h3>
<h2 id="Content-Title">Overzicht</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<table class="overzicht-table" border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Van)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tot)
        </th>
        <th>Actie </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="leeftijdKolom">
                @Html.DisplayFor(modelItem => item.Van)
            </td>
            <td class="leeftijdKolom">
                @Html.DisplayFor(modelItem => item.Tot)
            </td>
            <td class="action-column">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id })  |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
