@model Finah_Web.Models.Aandoening

@{
    ViewBag.Title = "Aandoening - Create";
    Layout = "~/Views/Shared/_LayoutBeheren.cshtml";
}

<h3 id="Breadcrumb">Menu > Aandoening > Aanmaken</h3>
<h2 id="Content-Title">Nieuwe aandoening</h2>
<hr/>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <form>
       <ul class="form-style">
           <li> @Html.LabelFor(model => model.Omschrijving , htmlAttributes: new { @class = "control-label" }) </li>
           @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           <li>@Html.EditorFor(model => model.Omschrijving, new { htmlAttributes = new { @class = "form-control" } })</li>
           @Html.ValidationMessageFor(model => model.Omschrijving, "", new { @class = "text-danger" })

           <li><input type="submit" value="Create" class="createBtn" /></li>
       </ul>  
    </form>
}
<div class="Back">
    @Html.ActionLink("Terug naar overzicht", "Overzicht")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
