@model IEnumerable<Finah_Web.Models.Aandoening>

@{
    ViewBag.Title = "Aandoening - Overzicht";
}
@{
    Layout = "~/Views/Shared/_LayoutBeheren.cshtml";
}
<h3 id="Breadcrumb">Menu > Aandoening</h3>
<h2 id="Content-Title">Overzicht</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<table border="1" class="overzicht-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </th>
        <th>
           Pathologie
        </th>
        <th >Actie</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="large-column">
            @Html.DisplayFor(modelItem => item.Omschrijving)
        </td>
        <td class="medium-column">
            Pathologie 1
        </td>
        <td class="action-column">
             @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
             @Html.ActionLink("Details", "Details", new { id = item.Id }) |
             @Html.ActionLink("Delete", "Delete", new { id = item.Id })  @*Voor aals DB live is*@
        </td>
    </tr>
}

</table>
