<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Stylesheet.css")
</head>
<body>
    <div id="wrapper">
        <div id="page-header">
            @RenderPage("~/Views/Shared/_header.cshtml")
        </div> <!--Closing DIV page header-->
        <div id="inner-wrapper">
            <div id="nav-bar2">
                @RenderPage("~/Views/Shared/_NavbarBeheren.cshtml")
            </div><!--Closing DIV nav-bar-->
            <div id="body-container">
                @RenderBody()
            </div><!--Closing DIV body containerr-->
        </div><!--Closing DIV innerwrapper-->
        <div id="page-footer">
            @RenderPage("~/Views/Shared/_footer.cshtml")
        </div>
    </div><!--Closing DIV wrapper-->
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
