<h2> Beheren </h2>
<button> @Html.ActionLink("Aandoeningen", "Overzicht", "Aandoening", new { area = "" }, null)</button>
<button> @Html.ActionLink("Pathologiën", "Overzicht", "Pathologie") </button>
<button> @Html.ActionLink("LeeftijdsCategorie", "Overzicht", "Leeftijdscategorie", new { area = "" }, null)</button>
<button> @Html.ActionLink("Vragen", "Overzicht", "Vragen") </button>
<button> @Html.ActionLink("Vragenlijsten", "Overzicht", "VragenLijst") </button>
<button> @Html.ActionLink("Terug naar Home", "Index", "Home")</button>