<h2> Beheren </h2>
<button onclick="location.href='@Url.Action("Overzicht", "Aandoening")';return false;">Aandoeningen</button>
<button onclick="location.href='@Url.Action("Overzicht", "Pathologie")';return false;">Pathologieën</button>
<button onclick="location.href='@Url.Action("Overzicht", "LeeftijdsCategorie")';return false;">Leeftijdscategoriën</button>
<button onclick="location.href='@Url.Action("Overzicht" ,"Vragen")';return false;">Vragen</button>

<button onclick="location.href='@Url.Action("Overzicht", "Vragenlijst")';return false;">Vragenlijsten</button>

<button onclick="location.href='@Url.Action("Index", "Home")';return false;">Terug naar home</button>
