
<h2> Menu </h2>
<button> @Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</button>
<button> @Html.ActionLink("Account", "index", "Account") </button>
<button> @Html.ActionLink("Bevragingen", "Overzicht", "Bevraging", new { area = "" }, null)</button>
<button> @Html.ActionLink("Beheren", "Index", "Beheren", new { area = "" }) </button>
<button> @Html.ActionLink("Uitloggen", "Overzicht", "Uitloggen", new { area = "" }) </button>