<h2> Menu </h2>
<button onclick="location.href='@Url.Action("Index", "Home")';return false;">Home</button>
<button onclick="location.href='@Url.Action("Index", "Account")';return false;">Mijn account</button>
<button onclick="location.href='@Url.Action("Overzicht", "Bevraging")';return false;">Bevragingen</button>
<button onclick="location.href='@Url.Action("Index","Beheren")';return false;">Beheerders pagina</button>
<button onclick="location.href='@Url.Action("Overzicht","Uitloggen")';return false;">Uitloggen</button>
